<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@<%=post.username%> | Post</title>
    <link rel="stylesheet" href="/style.css">

    <style>
        .id{
            color: rgb(93, 93, 93);
        }
    </style>
</head>
<body>
    <h2>Detailed Post</h2>
    <h3 class="id">Post ID : <%=post.id%></h3>
    <div class="post">
        <h3 class="user">Username : @<%=post.username%></h3>
        <h3>Content : <%= post.content  %></h3>
    </div>
</body>
</html>